*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #3fafdb;
}

.face{
background-color: #ffcd00;
position: relative;
width: 300px;
height: 300px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
/* code for mouth */
.face::before{
content: " ";
background: #fc1c1cf6;
width: 150px;
height: 70px;
position: absolute;
top: 180px;
border-bottom-right-radius:72px ;
border-bottom-left-radius: 72px;
}

.face:hover::before{
    top: 210px;
    background: #d10505f1;
    height: 20px;
    width: 150px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
    transition: 0.6s;
}

.eyes{
    /* border: 2px solid black; */
    position: relative;
    top: -40px;
    display: flex;
}

.eyes .eye{
    
    background: #fff;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    margin: 0 15px;

}

.eyes .eye::before{
    content: " ";
    background-color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
}

